<nav class="navbar navbar-light bg-light navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <!--<img src="https://cdn.freebiesupply.com/logos/large/2x/av-bros-logo-png-transparent.png" width="60" height="60" class="d-inline-block align-top" alt="" loading="lazy"> -->
    <h1>Assurance Voiture</h1>
  </a>
</nav>