@font-face{
  font-family: BreakSemiBold;
  src: url(/assets/BreakSemiBold.ttf);
}

nav {
  background-color: transparent !important;
  text-align: center;
}

h1{
	display: inline-block;
	padding: .5rem 1rem;
	font-family: BreakSemiBold;
	font-size: 50px;
	color: white;
}