<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="san">
<div class="container">
    <div class="row">
		<div class="well">
        <h3 class="text-center">¡{{cliente.nombre}}, encontramos los mejores precios para tu seguro de auto!</h3>
        <div class="list-group">
          <a href="#" class="list-group-item" *ngFor="let cotizacion of cotizaciones">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive"  src="http://placehold.it/350x250" alt="placehold.it/350x250" >
                    </figure>
                </div>
                <div class="col-md-6">
                    <h3 class="list-group-item-heading"> {{cotizacion.Aseguradora}} </h3>
                    <h4 class="list-group-item-heading"> Cobertura: </h4>
                    <p class="list-group-item-text"> {{ cotizacion.DanosMaterialesPP}}</p>
                    <p class="list-group-item-text"> {{ cotizacion.DanosMateriales}}</p>
                    <p class="list-group-item-text"> {{ cotizacion.RoboTotal}}</p>
                    <p class="list-group-item-text"> {{ cotizacion.RC}}</p>
                    <p class="list-group-item-text"> {{ cotizacion.RCPExtra}}</p>
                    <p class="list-group-item-text"> {{ cotizacion.RCBienes}}</p>
                    <p class="list-group-item-text"> {{ cotizacion.RCPersonas}}</p>
                    <p class="list-group-item-text"> {{ cotizacion.RCFamiliar}}</p>
                    <p class="list-group-item-text"> {{ cotizacion.RCExtension}}</p>
                    <p class="list-group-item-text"> {{ cotizacion.RCExtranjero}}</p>
                    <p class="list-group-item-text"> {{ cotizacion.AsistenciaCompleta}}</p>
                    <p class="list-group-item-text"> {{ cotizacion.DefensaJuridica}}</p>
                    <p class="list-group-item-text"> {{ cotizacion.GastosMedicosEvento}}</p>
                    <p class="list-group-item-text"> {{ cotizacion.GastosMedicosOcupantes}}</p>
                    <p class="list-group-item-text"> {{ cotizacion.MuerteAccidental}}</p>
                    <p class="list-group-item-text"> {{ cotizacion.Cristales}}</p>

                </div>
                <div class="col-md-3 text-center">
                    <h2> {{cotizacion.Descuento}}% <small> de descuento </small></h2>
                    <button type="button" class="btn btn-success btn-block"> Comprar En Línea En 
                    <br/>{{cotizacion.Aseguradora}} </button>
                    <button type="button" class="btn btn-primary btn-block"> Comprar Por Teléfono En 
                    <br/>{{cotizacion.Aseguradora}} </button>
                    <div class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                    <p> Calificacion {{cotizacion.Calificacion}} <small> / </small> 5 </p>
                </div>
          </a>
        </div>
        </div>
	</div>
</div>
</div>