@font-face{
  font-family: BrittanySignature;
  src: url(/assets/BrittanySignature.ttf);
}

html {
  box-sizing: border-box;
}
body {
  background-image: 
                    linear-gradient(to right, #904e95, #e96443); 
  background-repeat: no-repeat;               
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer {
  margin-top: 120px;
  text-align: center;
  color: white;
}

footer h1 {
  font-family: 'Slabo 27px', serif;
}

footer h2 {
  font-family: BrittanySignature;
  letter-spacing: 1px;
}