<div class="one">
  <div class="card text-center">
    <div class="card-header">
      {{descripcion}}
    </div>
    <div class="card-body">
      <form class="needs-validation">
        <!-- Zero bloque -->
        <div class="form-row">
          <!-- VEHICULO-->
 
          <!-- MARCA -->    
          <div class="col-md-4 mb-3">
            <div class="deux">
              <select class="custom-select" name="marca" [(ngModel)]="auto.marca" required>
                <option selected>Marca...</option>
                <option *ngFor='let marca of marcas'>{{marca.MakeName}}</option>
              </select>
            </div>
          </div>

          <!-- MODELO -->
          <div class="col-md-4 mb-3">
            <div class="deux">
              <select class="custom-select" name="modelo" [(ngModel)]="auto.modelo" (click)='cargarSubMarcas()' required>
                <option selected>Modelo...</option>
                <option *ngFor='let modelo of modelos'>{{modelo}}</option>
              </select>
            </div>
          </div>

          <!-- SUBMARCA -->
          <div class="col-md-4 mb-3">
            <div class="deux">
              <select class="custom-select" name="submarca" [(ngModel)]="auto.submarca" disabled="{{disabledSubMarca}}" required>
                <option selected>Submarca...</option>
                <option *ngFor='let submarca of submarcas'>{{submarca.Model_Name}}</option>
              </select>
            </div>
          </div>

          <!-- VERSION 
          <div class="col-md-3 mb-3">
            <div class="deux">
              <select class="custom-select" name="version" [(ngModel)]="auto.version" disabled="{{disabledVersion}}" required>
                <option selected>Version...</option>
                <option *ngFor='let version of versiones'>{{version.Model_Name}}</option>
              </select>
            </div>
          </div>
          -->
        </div>
        
        <!-- Primer bloque -->
        <div class="form-row">

          <!-- EDAD -->
          <div class="col-md-4 mb-3">
            <input class="form-control" type="number" name="edad" [(ngModel)]="cliente.edad" min="18" max="99" placeholder="Edad" required>
          </div>

          <!-- SEXO -->
          <div class="col-md-4 mb-3">
            <div class="deux">
              <select class="custom-select" name="sexo" [(ngModel)]="cliente.sexo" required>
                <option selected>Sexo...</option>
                <option>Masculino</option>
                <option>Femenino</option>
              </select>
            </div>
          </div>

          <!-- CÓDIGO POSTAL -->
          <div class="col-md-4 mb-3">
            <input class="form-control" type="number" name="codigoPostal" [(ngModel)]="cliente.codigoPostal" placeholder="Código Postal" required>
          </div>
        </div>

        <!-- Segundo bloque -->
        <div class="form-row">

          <!-- NOMBRE -->
          <div class="col-md-4 mb-3">
            <input class="form-control" type="text" name="nombre" [(ngModel)]="cliente.nombre" placeholder="Nombre" required>
          </div>

          <!-- CORREO -->
          <div class="col-md-4 mb-3">
            <input class="form-control" type="mail" name="email" [(ngModel)]="cliente.email" placeholder="email@mail.com" required>
          </div>

          <!-- TELEFONO -->
          <div class="col-md-4 mb-3">
            <input class="form-control" type="text" name="telefono" [(ngModel)]="cliente.telefono"   placeholder="Telefono" required>
          </div>
        </div>

        <!-- Terminos y condiciones -->

        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
              {{privacidad}}
            </label>
          </div>
        </div>

        <!-- Boton -->
        <button class="btn btn-primary btn-lg btn-block" role="button" (click)='guardarCliente()'>{{boton}}</button>
      </form>
    </div>
    <div class="card-footer text-muted">
      {{footer}}
    </div>
  </div>
</div>


